<header id="site-header">
  <h1>Foo App</h1>
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/create']">Create</a>
  <a [routerLink]="['/list']">List</a>

  <div class="container">

    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && user">
        <a [routerLink]="['/profile']">{{user.username}}</a>
        <a (click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && !user">
        <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>

  </div>

</header>

<main id="site-main">
  <router-outlet></router-outlet>
</main>

<footer id="site-footere">
  <p>nice footer</p>
</footer>