<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
    <label>Username</label>
    <input type="text" name="username" [(ngModel)]="signup.username" #usernameField="ngModel" required [disabled]="processing" />
    <div *ngIf="feedbackEnabled && usernameField.errors || usernameField.dirty && usernameField.errors">
      <p *ngIf="usernameField.errors.required" class="validation">username required</p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="signup.password" #passwordField="ngModel" required [disabled]="processing" />
    <div *ngIf="feedbackEnabled && passwordField.errors || passwordField.dirty && passwordField.errors">
      <p *ngIf="passwordField.errors.required" class="validation">password required</p>
    </div>
  </div>

  <div class="field submit">
    <button type="submit" [disabled]="processing">Signup!</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">there are errors in the form, please review the fields</p>
    </div>
    <div *ngIf="error" [ngSwitch]="error">
      <p *ngSwitchCase="'username-not-unique'" class="validation">Username not unique</p>
      <p *ngSwitchDefault class="validation">there are errors, please <a (click)="submitForm(form)">try again</a></p>
    </div>
  </div>
</form>